<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Empleados</li>
        <li>
          <a href="/listar_all_empleados">Listar</a> <!--Cargamos url aqui listar-all-->
        </li>
        <li><a href="{% url 'persona_app:empleados_all' %}">Departamentos</a></li>
        <li><a href="#">Administrar</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar empleados"></li>
        <li><button type="button" class="button">Registrar nuevo</button></li>
      </ul>
    </div>
  </div>