<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Empleados</li>
        <li>
          <a href="/listar_all_empleados">Listar</a> <!--Cargamos url aqui listar-all-->
        </li>
        <li><a href="{% url 'dep_app:lista_dep' %}">Departamentos</a></li>
        <li><a href="{% url 'persona_app:nuevo_empleado' %}">Nuevo Empleado</a></li>
        <li><a href="{% url 'dep_app:new_departamento' %}">Administrar</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Registrar nuevo empleados"></li>
        <li><a href="#" class="button">Registrar nuevo</a></li>
      </ul>
    </div>
  </div>