{%extends 'base.html'%}
{% load static %}

{% block title %}
    Crear Empleado
{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
<div class = "grid-container">
    <div class="grid-x">
        <h2 class="cell">Crear Empleado</h2>
    </div>
    <div class= "cell">
        <!-- enctype="multipart/form-data" fundamental para que se cree la imagen-->
        <form method="POST" class="cell grid-x grid-margin-x" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="medium-6 cell">
                <label for="id_first_name">Nombre:</label>
                {{ form.first_name }}
                <div class="error">{{ form.first_name.errors }}</div>
            </div>
            <div class="medium-6 cell">
                <label for="id_last_name">Apellido:</label>
                {{ form.last_name }}
                <div class="error">{{ form.last_name.errors }}</div>
            </div>
            
            <div class="medium-6 cell">
                <label for="id_job">Puesto de Trabajo:</label>
                 {{form.job}}
                <div class="error">{{ form.job.errors }}</div>
            </div>
            <div class="medium-6 cell">
                <label for="id_departamento">Departamento:</label>
                {{ form.departamento }}
                <div class="error">{{ form.departamento.errors }}</div>
            </div>
            <div class="medium-6 cell">
                <label for="id_habilidades">Habilidades:</label>
                {{ form.habilidades }}
                <div class="error">{{ form.habilidades.errors }}</div>
            </div>
            <div class="medium-6 cell">
                <label for="foto">Foto:</label>
                {{ form.imagen }}
                <div class="error">{{ form.imagen.errors }}</div>
            </div>
            <button type="submit" class="success button">Crear</button> 
        </form>
    </div>   
    
</div>
{% endblock content %}

    

