{% extends 'base.html' %}
{% load static %}

{% block title %}
   Elimina registro
{% endblock title %}

{% block content %}
   {% include 'includes/header.html' %}
   
   <div class="grid-container">
       <div class="grid-x grid-padding-x">
           <div class="cell">
               <p class="lead">Eliminar Empleado: {{empleado.first_name}} {{empleado.last_name}}</p>
           </div>
       </div>

       <div class="grid-x grid-padding-x">
           <!-- Usamos 'cell large-12' para hacer que la caja ocupe todo el ancho disponible -->
           <div class="cell large-12">
               <form method="POST">
                   {% csrf_token %}
                   <!-- La caja 'callout' ahora debería ocupar todo el ancho disponible -->
                   <div class="callout secondary expanded">
                       <h5>¿Deseas eliminar este empleado?</h5>
                       <div>
                           <button type="submit" class="alert button">Confirmar</button>
                           <!-- Botón de cancelación -->
                           <a href="{% url 'persona_app:empleados_admin' %}" class="button secondary">Cancelar</a>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </div>

{% endblock content %}
