<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detalle del Empleado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>{{ titulo }}</h2>
    <h1>Detalle del empleado</h1>
    
    <!-- Mostrar información del empleado -->
    <p><strong>Nombre:</strong> {{ object.first_name }} {{ object.last_name }}</p>
    <p><strong>Trabajo:</strong> {{ object.job }}</p>
    
    <!-- Mostrar habilidades -->
    <h2>Habilidades</h2>
    <ul>
        {% for habilidad in habilidades %}
            <li>{{ habilidad }}</li>
        {% empty %}
            <li>Este empleado no tiene habilidades registradas.</li>
        {% endfor %}
    </ul>
</body>
</html>
