{% load static %}
<!DOCTYPE html>
  <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <h1 class="prueba">Mis estilos personales</h1>  
        <h2 class = "">Estilos dos </h1>
         <!-- Anchors (links) -->
         <a href="about.html" class="button">Learn More</a>
         <a href="#features" class="button">View All Features</a>


          <button class="submit success button">Save</button>
          <button type="button" class="alert button">Delete</button>   
     </body>
</html>
